API_PORT='3000'
DATABASE_URL='postgresql://postgres:supersecret123@db:5432/example-db?schema=public'
JWT_SECRET='thisisreallysecret'
JWT_EXPIRATION='3600' # 1 hour
REFRESH_TOKEN_SECRET='thisisreallysecret'
REFRESH_TOKEN_EXPIRATION='604800' # 7 days
SERVER_ROLE='all'
USE_GOOGLE_AUTH='true'
GOOGLE_CLIENT_ID='your-google-client-id.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='your-google-client-secret'
GOOGLE_CALLBACK_URL='http://localhost:3000/api/auth/google/callback'
RATE_LIMITER='true'
COLLECT_METRICS='false'
RBAC='true'
NODE_ENV='development'